@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
}

.bg-developer {
  background-image: url("./../../static/images/developer-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: content-box;
}

body {
  font-family: "Mulish", sans-serif;
}
